<header class="header">
  <a href="index.html" class="logo">
    Director
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <button  ng-click="showLangBar = !showLangBar" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div>

    </div>
  </nav>
</header>

<div class="wrapper row-offcanvas row-offcanvas-left"  ng-class="{'toggled':showLangBar}">
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">
            Start Bootstrap
          </a>
        </li>
        <li>
          <a href="#">Dashboard</a>
        </li>
        <li>
          <a href="#">Shortcuts</a>
        </li>
        <li>
          <a href="#">Overview</a>
        </li>
        <li>
          <a href="#">Events</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    <!-- /.sidebar -->
  </aside>

  <aside class="right-side">
    <!-- Main content -->
    <section class="content">
      <!-- Main row -->
      <div class="row">
        <div class="col-md-12">
          <section class="panel">
            <header class="panel-heading">
              Work Progress
            </header>
            <div class="panel-body table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Project</th>
                  <th>Manager</th>
                  <!-- <th>Client</th> -->
                  <th>Deadline</th>
                  <!-- <th>Price</th> -->
                  <th>Status</th>
                  <th>Progress</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1</td>
                  <td>Facebook</td>
                  <td>Mark</td>
                  <!-- <td>Steve</td> -->
                  <td>10/10/2014</td>
                  <!-- <td>$1500</td> -->
                  <td><span class="label label-danger">in progress</span></td>
                  <td><span class="badge badge-info">50%</span></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Twitter</td>
                  <td>Evan</td>
                  <!-- <td>Darren</td> -->
                  <td>10/8/2014</td>
                  <!-- <td>$1500</td> -->
                  <td><span class="label label-success">completed</span></td>
                  <td><span class="badge badge-success">100%</span></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Google</td>
                  <td>Larry</td>
                  <!-- <td>Nick</td> -->
                  <td>10/12/2014</td>
                  <!-- <td>$2000</td> -->
                  <td><span class="label label-warning">in progress</span></td>
                  <td><span class="badge badge-warning">75%</span></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>LinkedIn</td>
                  <td>Allen</td>
                  <!-- <td>Rock</td> -->
                  <td>10/01/2015</td>
                  <!-- <td>$2000</td> -->
                  <td><span class="label label-info">in progress</span></td>
                  <td><span class="badge badge-info">65%</span></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Tumblr</td>
                  <td>David</td>
                  <!-- <td>HHH</td> -->
                  <td>01/11/2014</td>
                  <!-- <td>$2000</td> -->
                  <td><span class="label label-warning">in progress</span></td>
                  <td><span class="badge badge-danger">95%</span></td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Tesla</td>
                  <td>Musk</td>
                  <!-- <td>HHH</td> -->
                  <td>01/11/2014</td>
                  <!-- <td>$2000</td> -->
                  <td><span class="label label-info">in progress</span></td>
                  <td><span class="badge badge-success">95%</span></td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>Ghost</td>
                  <td>XXX</td>
                  <!-- <td>HHH</td> -->
                  <td>01/11/2014</td>
                  <!-- <td>$2000</td> -->
                  <td><span class="label label-info">in progress</span></td>
                  <td><span class="badge badge-success">95%</span></td>
                </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
        <!--end col-6 -->
      </div>
      <!-- row end -->
    </section>
    <!-- /.content -->
    <div class="footer-main">
      Copyright &copy Director, 2014
    </div>
  </aside>
  <!-- /.right-side -->
---{{'label' | translate}}--
  get data
  <button class="btn btn-primary" ng-click="AdminDashboardCtrl.callData()">call</button>
  --Data={{AdminDashboardCtrl.data}}
</div>
