<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainmenu"
            aria-expanded="false"><span class="icon-bar"></span> <span class="icon-bar"></span> <span
      class="icon-bar"></span></button>
    <a class="navbar-brand" href="http://www.am22tech.com">AM22 Tech</a></div>
  <div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
    <form style="margin-top: 6px" role="search" action="/search/">
      <div class="input-group"><input type="Search" class="form-control" placeholder="Search" name="q">
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>
    </form>
  </div>
  <div id="mainmenu" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
    <ul id="menu-main-navigation" class="nav navbar-nav navbar-right">
      <li id="menu-item-596"
          class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-596">
        <a title="Tech Tips" href="http://www.am22tech.com/category/tech-tips/">Tech Tips</a></li>

    </ul>
  </div>
</nav>
