<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <h2>Welcome</h2>
      </div>
    </div>
  </div>
</div>
<div class="container main-container col-xs-6 col-xs-offset-3">
  <form ng-submit="signIn();">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="text" class="form-control" ng-model="email" id="email" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default" id="submitBtn">Submit</button>
  </form>
</div>
